body{
    background-image: url(/images/20s.jpg);
    background-size:contain;
}

@media (min-width:300px){
    h1{
        text-decoration-line: underline;
        text-align: center;
        background-color: hotpink;
        color: brown;
        padding: 30px 30px;
    }
    
}

@media (min-width:460px) {
    h1{
        text-decoration-line: overline underline;
        text-align: center;
        background-color: hotpink;
        color: brown;
        padding: 30px 30px;
    }
    }

    .content{
        overflow: auto;
        background-color: gray;
        color: lime;
        margin-bottom: 50px;
    }

.content p{
    position: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}