@media (min-width:300px){
    h1{
        text-decoration-line: underline;
        text-align: center;
        background-color: paleturquoise;
        padding: 30px 30px;
    }
}

@media (min-width:460px) {
    h1{
        text-decoration-line: overline underline;
        text-align: center;
        background-color: paleturquoise;
        padding: 30px 30px;
    }
    }
form{
    margin-bottom: 60px;
}