ul{
  width: auto;
  float: none;
  margin-top: 5px;
  background-color: purple;
}

li{
  display: inline-block;
  padding: 15px 30px;
}
nav{
    overflow: hidden;
    max-width: 100%;

}

nav a{
    float: left;
  display: block;
  color: #f394f3;
  background-color: purple;
  text-align: center;

}
nav a:hover {
    background-color: cornflowerblue;
    color: black;
  }


  .footer {
    background-color: lightcoral;
    padding: 10px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }