body{
    background-image: url(/images/I\ want\ it\ that\ way.jpg);
    background-size:contain;
}

@media (min-width:300px) {
    h1{
        text-decoration-line: underline;
        text-align: center;
        background-color: gold;
        color: black;
        padding: 30px 30px;
    }
    }

@media (min-width:460px) {
    h1{
        text-decoration-line: overline underline;
        text-align: center;
        background-color: gold;
        color: black;
        padding: 30px 30px;
    }
    }


.content{
    overflow: auto;
    background-color: silver;
    color: brown;
    margin-bottom: 50px;
    
}
.content p{
    position: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}